<!-- User Dashboard view -->
<!-- how to distinguish views of teachers vs students? -->

<%- include('partials/header') -%>

<!-- Welcome User Section -->
  <section id="welcomeUser">
    <div class="container">
      <div class="row align-items-left">
                                 <h2>Student Name:</h2>
                    <p><%= user.firstNameChild %></p>
                    <h2>Username:</h2>
                    <p><%= user.userName %></p>
                    <h2>Parent e-mail:</h2>
                    <p><%= user.email %></p>
                           </div>
    </div>
  </section>

<section id="bookSearch">
      <div class="row align-items-center" id="searchGoogle">
        <div class="col-md-4 d-flex justify-content-center">
          <input type="text" id="title" placeholder="title">
          <input type="text" id="author" placeholder="author">
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <button id="submit" type="button" class="btn btn-lg">Search</button>
        </div>
      </div>
    </section>

  <!-- div containing 3 most recent books -->

  <!-- card with big plus sign to reveal book search div -->
  <!-- arrow to reveal next 3 results -->

<!-- Add Post Section -->
  <section id="addAPost">
    <div class="container">
      <form id="post" action="/post/createPost" enctype="multipart/form-data" method='POST'>
        <div class="container">
          <div id="results" class="row cards">
            <h3>Select a book:</h3>
          </div>

          <!--<ul id="results"></ul>-->
          <div class="pt-3">
            <button id="moreResults" type="button" class="btn btn-lg">See More Results</button>
            <button id="newSearch" type="button" class="btn btn-lg">New Search</button>
          </div>
        </div>
        <div class="container">
          <div class="row cards" style="max-height:300px">
                        <div class='col justify-content-center'>
              <div class="row">
                <input type="text" placeholder="What did you think?" name='post'>
              </div>
              <div class="row">
                <input type="text" placeholder="Tell us more" name='postBody' style="height:100px">
              </div>
              <div class="row">
                <button type="submit" class="btn greyRoundButton btn-lg" value="Add Post">Share Now</button>
              </div>
            </div>
          </div>
        </div>


      </form>
    </div>
  </section>

<section id="recentPosts">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2><%= user.userName %>'s Latest Reads:</h2>
      </div>
      
    </div>
    <div class="row">
      <% for (let i=post.length-1; i>=0; i--) { %>
        <div class="col">
          <a href="/postPage/<%= post[i]._id%>">
            <div class="card my-2" style="width: 25rem;">
              <div class="card-header" style="height: 12rem">
                <div class="row">
                  <div class="col">
                    <div class="container">
                      <img src="<%= post[i].bookThumbnail %>" alt="<%= post[i].bookTitle %>" class="img-fluid" style="max-width:80% !important">
                    </div>
                  </div>
                  <div class="col">
                    <h4><%= post[i].bookTitle %></h4>
                    <span><%= post[i].bookAuthor %></span>
                  </div>
                </div>
              </div>
              <div class="card-body" style="height: 15rem">
                <div class="row">
                  <div class="col">
                    <h5><%= post[i].post %></h5>
                    <p><%= post[i].postBody.substring(0,90) %><% if (post[i].postBody.length > 90){ %>...<%} %></p>
                  </div>
                  <% if (post[i].image) { %>
                    <div class="col">
                      <div class="container">
                        <img src="<%= post[i].image %>" alt="<%= post[i].bookTitle %> project" class="img-fluid">
                      </div>
                    </div>
                  <% } %>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% } %>
      <% for (let i=0;i<(3-post.length%3);i++) { %>
          <div class="col hidden">
            <a href="#">
              <div class="card my-2" style="width: 25rem;">
                <div class="card-header" style="height: 12rem">
                                  </div>
                <div class="card-body" style="height: 15rem">
                 
                </div>
              </div>
            </a>
          </div>
        <% } %>
          </div>
        </div>
  </div> 
</section>


    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>
    <% } %>


    <script src="/js/main.js"></script>
    <script src="/js/postPage.js"></script>
    <%- include('partials/footer') -%>