

<%- include('partials/header') -%>

<section class ="background" style="background-image: url(https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">


  <!-- placeholder spacing section -->
  <section style="height: 10vh"></section>

  <!-- Search for entry -->
  <div class=" center card w-96 bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">What are you reading?</h2>
<section>
      <div class="row align-items-center" id="searchGoogle">
        <div class="addEntry">
          <div>
          <input type="text" id="title" placeholder="title">
          <input type="text" id="author" placeholder="author">
          <button id="submit" type="button" class="btnn btn btn-lg">Search</button>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- Add post - hidden until user executes search -->
  <section id="addAPost">
  
    <div class="container">
      <form id="post" action="/post/createPost" enctype="multipart/form-data" method='POST'>
        <div class="container">
          <div id="results" class="row cards">
            <h3>Select a book:</h3>
          </div>
   

          <!--<ul id="results"></ul>-->
          <div class="pt-3">
            <button id="moreResults" type="button" class="btn btn-lg">See More Results</button>
            <button id="newSearch" type="button" class="btn btn-lg">New Search</button>
          </div>
        </div>
        <div class="container">
          <div class="row cards" style="max-height:300px">
                        <div class='col justify-content-center'>
              <div class="row">
                <input type="text" placeholder="What did you think?" name='post'>
              </div>
              <div class="row">
                <input type="text" placeholder="Tell us more" name='postBody' style="height:100px">
              </div>
              <div class="row">
                <button type="submit" class="btn btn-lg" value="Add Post">Share With the Group!</button>
              </div>
            </div>
          </div>
        </div>


      </form>
    </div>
  </section>

<section id="recentPosts">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2><%= user.userName %>'s Latest Reads:</h2>
      </div>
      
    </div>
    <div class="row">
      <% for (let i=post.length-1; i>=0; i--) { %>
        <div class="col">
          <a href="/postPage/<%= post[i]._id%>">
            <div class="card my-3" style="width: 25rem">
              <div class="card-header" style="">
                <div class="row">
                  <div class="col">
                  
                      <h4><%= post[i].bookTitle %></h4>
                    <span><%= post[i].bookAuthor %></span>
                      <img src="<%= post[i].bookThumbnail %>" alt="<%= post[i].bookTitle %>" class="img-fluid" style="max-width:80% !important">
                   
                  </div>
                  <div class="col">
                    <h5><%= post[i].post %></h5>
                    <p><%= post[i].postBody.substring(0,90) %><% if (post[i].postBody.length > 90){ %>...<%} %></p>
                  </div>
                </div>
              </div>

           
           
          </a>
        </div>
      <% } %>
      <% for (let i=0;i<(3-post.length%3);i++) { %>
          <div class="col hidden">
          <div class="card my-2" style="width: 20rem;">
          <div class="card-header" style="height: 12rem">
           </div>
          <div class="card-body" style="height: 15rem">
          </div>
        </div> 
        </div>
        <% } %>
          </div>
        </div>
  </div> 
</section>


    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>
    <% } %>

        </section>

    <script src="/js/main.js"></script>
    <script src="/js/postPage.js"></script>
    <%- include('partials/footer') -%>