<%- include('partials/header') -%>



<section class="row"  style="background-size: 100%; background-image: url(https://images.unsplash.com/photo-1544640808-32ca72ac7f37?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);">

  <div style="height: 10vh">

    <h1 style="font-size: 36px">Here's what the class has been reading:</h1>
    </div>
 
    <ul class="row list-unstyled">
      <% for (let i=post.length-1; i>=0; i--) { %>
        <li class="card" style="width: 30%; margin-left: 3%; margin-top: 3%">
          <a href="/postPage/<%= post[i]._id%>">
            <h4><%= post[i].userName %> read </h4>
              <div class="card-header" style="">
                <div class="row">
                  <div class="col">
                  
                      <h4><%= post[i].bookTitle %></h4>
                    <span><%= post[i].bookAuthor %></span>
                      <img src="<%= post[i].bookThumbnail %>" alt="<%= post[i].bookTitle %>" class="img-fluid" style="max-width:80% !important">
                   
                  </div>
                  <div class="col">
                    <h5><%= post[i].post %></h5>
                    <p><%= post[i].postBody%></p>
                  </div>
                  <a href="/postPage/<%= post[i]._id%>"><button class="btn btn-primary">DISCUSS</button></a>
                </div>
          
        </li>
      <% } %>

          </div>
        </div>
</div> 
</section>

<%- include('partials/footer') -%>