<%- include('partials/header') -%>



<section class="row"  style="background-size: 100%; background-image: url(https://images.unsplash.com/photo-1544640808-32ca72ac7f37?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);">

  <div style="height: 10vh">

    <h1 class="feedTop" style="font-size: 36px">What the group has been reading</h1>
    </div>
 
    <ul class="row list-unstyled">
      <% for (let i=post.length-1; i>=0; i--) { %>
        
        <li class="card" style="width: 30%; margin-left: 2.5%; margin-top: 3%; margin-bottom: 0; padding-left: 0; padding-right: 0; padding-bottom: 0">
          <a href="/postPage/<%= post[i]._id%>">
            
              <div class="card-header" style="height: 100%">
                <h4><%= post[i].userName %> read: </h4>
                <div class="row">
                  <div class="col">
                    <h4 class="card-title">"<%= post[i].bookTitle %>" by <%= post[i].bookAuthor %></h4>
                      <img src="<%= post[i].bookThumbnail %>" alt="<%= post[i].bookTitle %>" class="img-fluid" style="max-width:80%; margin: auto;">
                  </div>

                  <div class="col feedText">
                    <h5><%= post[i].post %></h5>
                    <p><%= post[i].postBody%></p>
                    <a href="/postPage/<%= post[i]._id%>"><button type="submit" class="btn btn-primary">DISCUSS</button></a>
                  </div>
                  
                  
                </div>
          
        </li>
      <% } %>

          </div>
        </div>
</div> 
</section>

<%- include('partials/footer') -%>